<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISAAuto" />
                <binding name="BasicHttpBinding_ISAClient" />
                <binding name="BasicHttpBinding_ISAComanda" />
                <binding name="BasicHttpBinding_ISADetaliiComanda" />
                <binding name="BasicHttpBinding_ISAImagine" />
                <binding name="BasicHttpBinding_ISAMaterial" />
                <binding name="BasicHttpBinding_ISAMecanic" />
                <binding name="BasicHttpBinding_ISAOperatie" />
                <binding name="BasicHttpBinding_ISASasiu" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2019/SAAuto" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISAAuto" contract="SRAuto.ISAAuto"
                name="BasicHttpBinding_ISAAuto" />
            <endpoint address="http://localhost:2019/SAClient" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISAClient" contract="SRClient.ISAClient"
                name="BasicHttpBinding_ISAClient" />
            <endpoint address="http://localhost:2019/SAComanda" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISAComanda" contract="SRComanda.ISAComanda"
                name="BasicHttpBinding_ISAComanda" />
            <endpoint address="http://localhost:2019/SADetaliiComanda" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISADetaliiComanda"
                contract="SRDetaliiComanda.ISADetaliiComanda" name="BasicHttpBinding_ISADetaliiComanda" />
            <endpoint address="http://localhost:2019/SAImagine" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISAImagine" contract="SRImagine.ISAImagine"
                name="BasicHttpBinding_ISAImagine" />
            <endpoint address="http://localhost:2019/SAMaterial" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISAMaterial" contract="SRMaterial.ISAMaterial"
                name="BasicHttpBinding_ISAMaterial" />
            <endpoint address="http://localhost:2019/SAMecanic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISAMecanic" contract="SRMecanic.ISAMecanic"
                name="BasicHttpBinding_ISAMecanic" />
            <endpoint address="http://localhost:2019/SAOperatie" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISAOperatie" contract="SROperatie.ISAOperatie"
                name="BasicHttpBinding_ISAOperatie" />
            <endpoint address="http://localhost:2019/SASasiu" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISASasiu" contract="SRSasiu.ISASasiu"
                name="BasicHttpBinding_ISASasiu" />
        </client>
    </system.serviceModel>
</configuration>