<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ServiceAutoModelContainer" connectionString="metadata=res://*/ServiceAutoModel.csdl|res://*/ServiceAutoModel.ssdl|res://*/ServiceAutoModel.msl;provider=System.Data.SqlClient;provider connection string='data source=(localdb)\MSSQLLocalDB;initial catalog=ServiceAutoDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="ServiceAutoWcfServiceLibrary.SAAuto">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2019/BA1"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:2019/SAAuto"
                  binding="basicHttpBinding"
                  contract="ServiceAutoWcfServiceLibrary.ISAAuto"/>
      </service>
      <service name="ServiceAutoWcfServiceLibrary.SAClient">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2019/BA2"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:2019/SAClient"
                  binding="basicHttpBinding"
                  contract="ServiceAutoWcfServiceLibrary.ISAClient"/>
      </service>
      <service name="ServiceAutoWcfServiceLibrary.SAComanda">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2019/BA3"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:2019/SAComanda"
                  binding="basicHttpBinding"
                  contract="ServiceAutoWcfServiceLibrary.ISAComanda"/>
      </service>
      <service name="ServiceAutoWcfServiceLibrary.SADetaliiComanda">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2019/BA4"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:2019/SADetaliiComanda"
                  binding="basicHttpBinding"
                  contract="ServiceAutoWcfServiceLibrary.ISADetaliiComanda"/>
      </service>
      <service name="ServiceAutoWcfServiceLibrary.SAImagine">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2019/BA5"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:2019/SAImagine"
                  binding="basicHttpBinding"
                  contract="ServiceAutoWcfServiceLibrary.ISAImagine"/>
      </service>
      <service name="ServiceAutoWcfServiceLibrary.SAMaterial">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2019/BA6"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:2019/SAMaterial"
                  binding="basicHttpBinding"
                  contract="ServiceAutoWcfServiceLibrary.ISAMaterial"/>
      </service>
      <service name="ServiceAutoWcfServiceLibrary.SAMecanic">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2019/BA7"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:2019/SAMecanic"
                  binding="basicHttpBinding"
                  contract="ServiceAutoWcfServiceLibrary.ISAMecanic"/>
      </service>
      <service name="ServiceAutoWcfServiceLibrary.SAOperatie">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2019/BA8"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:2019/SAOperatie"
                  binding="basicHttpBinding"
                  contract="ServiceAutoWcfServiceLibrary.ISAOperatie"/>
      </service>
      <service name="ServiceAutoWcfServiceLibrary.SASasiu">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2019/BA9"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:2019/SASasiu"
                  binding="basicHttpBinding"
                  contract="ServiceAutoWcfServiceLibrary.ISASasiu"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>